<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Muhammad Moied</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,">
    <style>
.containerprog{
  /*width: 50%;*/
  /*margin: 0 auto;*/

}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.barprog{
max-height: 30px;
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.barprog::before{
  max-height: 20px;
  content:  attr(data-skill);
  background-color: #fc0fc0;
  display: inline-block;
  padding: 13px ;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.barprog.front::before{
  background-color: #fc0fc0;
}
.barprog.back::before{
  background-color: #fc0fc0;
}

.barprog.learning::before{
  width: calc(20% );
}
.barprog.basic::before{
  width: calc(40% );
}
.barprog.intermediate::before{
  width: calc(60% );
}
.barprog.advanced::before{
  width: calc(80% );
}
.barprog.expert::before{
  width: calc(100% );
}

</style>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">
	    {% load static %}
    <link rel="stylesheet" href=" {% static 'polls/css/open-iconic-bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'polls/css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'polls/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'polls/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'polls/css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'polls/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/jquery.timepicker.css' %}">

    
    <!-- <link rel="stylesheet" href="{% static 'polls/css/flaticon.css' %}"> -->
    <link rel="stylesheet" href="{% static 'polls/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
  </head>
  <body>

	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center" style="background-color: black;		">
			<h1 id="colorlib-logo"><a href="{% url 'polls:index' %}"><span class="img" style="background-image: url(../../static/polls/images/author-2.jpg);"></span><div style="color: #fc0fc0">Muhammad Moied</div></a></h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul >
					<li class="colorlib-active"><a href="{% url 'polls:index' %}" style="color: #fc0fc0;text-decoration: underline; ">Home</a></li>
					<li ><a href="{% url 'polls:work' %}" style="color: #fc0fc0">Work History</a></li>
					<li><a href="{% url 'polls:project' %}" style="color: #fc0fc0">Projects</a></li>
					<li><a href="{% static 'polls/Muhammad Moied.pdf' %}" target="_blank"style="color: #fc0fc0" >Open CV</a></li>
					<li><a href="#bottom" style="color: #fc0fc0">Contact</a></li>
				</ul>
			</nav>
		</aside>
		<div id="colorlib-main">
			<section class="ftco-section-no-padding">
				<div class=" text p-3 p-md-5" style="background-color: #A2A4AA;">
							<div class="desc">
								<span class="subheading" style="color: #2D313E">Hello! I'm</span>
<!--								<h1 class="big-letter">Muhammad Moied</h1>-->
								<h1 class="mb-4"><span style="color: white;">Muhammad Moied</span> <span style="color: #2D313E">A Software Engineer.</span> <span  style="color: white">I Fix Bugs</span></h1>
								<p class="mb-4" style="color: #2D313E;font-weight:lighter">An ambitious software engineer with 3 years of experience in object-oriented and functional programming, database
									management and app development. I am a final year BSc-Computer Science(Hons) student in
									Heriot Watt University, Dubai. Seeking an opportunity that allows me to utilize my problem-solving, analytical
									skills and my programming knowledge.</p>
								<h3 class="signature h3" style="color: white">Connect</h3>
								<ul class="ftco-social mt-3">
		              <li class="ftco-animate"><a href="#"><span class="icon-twitter" style="color: #fc0fc0"></span></a></li>
		              <li class="ftco-animate"><a href="#"><span class="icon-facebook"style="color: #fc0fc0"></span></a></li>
		              <li class="ftco-animate"><a href="#"><span class="icon-instagram"style="color: #fc0fc0"></span></a></li>
					  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"style="color: #fc0fc0"></span></a></li>
					  <li class="ftco-animate"><a href="#"><span class="icon-github"style="color: #fc0fc0"></span></a></li>
		            </ul>
	            </div>
						</div>
				<div class=" text p-3 p-md-5" style="background-color: #2D313E;">
							<div class="desc">
<!--								<span class="subheading" style="color: #2D313E">Hello! I'm</span>-->
								<h1 class="mb-4"><span style="color: white;">Skills</span></h1>
								{% if skills %}
									<div class="row mb-5" >
										<div class="col-md" style=" margin-left: 1rem;" >
										<h5 class="signature h-5" style="color: white">Programming Languages</h5>
										{% for skill in skills%}
											{% if skill.type == 'Language' %}
											{{skill.description}}
											{% for star in skill.level|get_rangeq %}
											 <div class="ftco-animate" style="float: right"><span class="icon-star"style="color: grey"></span></div>
											{% endfor %}
											{% for star in skill.level|get_range %}
											 <div class="ftco-animate" style="float: right"><span class="icon-star"style="color: #fc0fc0"></span></div>
											{% endfor %}
											<br>
											{% endif %}
										{% endfor %}
										</div>
										<div class="col-md" style=" margin-left: 1rem;" >
										<h3 class="signature h5" style="color: white">Mobile and Web Development</h3>
											{% for skill in skills%}
											{% if skill.type == 'Web/ Framework / App' %}
											{{skill.description}}
											{% for star in skill.level|get_rangeq %}
											 <div class="ftco-animate" style="float: right"><span class="icon-star"style="color: grey"></span></div>
											{% endfor %}
											{% for star in skill.level|get_range %}
											 <div class="ftco-animate" style="float: right"><span class="icon-star"style="color: #fc0fc0"></span></div>
											{% endfor %}
											<br>
											{% endif %}
										{% endfor %}
										</div>
										<div class="col-md" style=" margin-left: 1rem; ">
											<h3 class="signature h5" style="color: white">Hard Skills</h3>
											{% for skill in skills%}
											{% if skill.type == 'Hard Skills' %}
											{{skill.description}}
											{% for star in skill.level|get_rangeq %}
											 <div class="ftco-animate" style="float: right"><span class="icon-star"style="color: grey"></span></div>
											{% endfor %}
											{% for star in skill.level|get_range %}
											 <div class="ftco-animate" style="float: right"><span class="icon-star"style="color: #fc0fc0"></span></div>
											{% endfor %}
											<br>
											{% endif %}
										{% endfor %}
										</div>
									</div>
								{% else %}
						<p>No skills are available.</p>
					{% endif %}

	            </div>
				</div>
				<div class=" text p-3 p-md-5" style="background-color: #A2A4AA;">
							<div class="desc">
								<h1 class="mb-4"><span style="color: white;">Education</span></h1>
<!--								<div class="col-md" style="color: #2D313E">-->
<!--									<div class="row mb-3" style="width: 100%">-->
<!--										<div style="float: left">-->
<!--											BSc Hons - Computer Science,-->
<!--											<br>-->
<!--											Heriot Watt University, Dubai-->
<!--										</div>-->
<!--										<div style="float: right">-->
<!--											2018 - 2021-->
<!--										</div>-->
<!--									</div>-->
<!--									<div class="row mb-4">-->
<!--										<div style="float: left">-->
<!--											A-Levels,-->
<!--											<br>-->
<!--											The Westminster School, Dubai-->
<!--										</div>-->
<!--										<div style="float: right">-->
<!--											2016-2018-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<ul class="list-unstyled categories">
	              	<li><a href="#">BSc Hons - Computer Science,
											<br>
											Heriot Watt University, Dubai
						<br>3rd year completed with Cumulative GPA 4.0<span style="color:#fc0fc0;">(2018-2021)</span></a></li>
	              	<li><a href="#">	A-Levels,
											<br>
											The Westminster School, Dubai<br>Mathematics-A Computer Science-A Physics-B <span style="color:#fc0fc0;">(2016-2018)</span></a></li>
<!--	                <li><a href="#">September 2018 <span>(150)</span></a></li>-->
<!--	                <li><a href="#">August 2018 <span>(100)</span></a></li>-->
<!--	                <li><a href="#">July 2018 <span>(200)</span></a></li>-->
	              </ul>
	            </div>
				</div>
				<div class=" text p-3 p-md-5" style="background-color: #2D313E;">
							<div class="desc">
								 <div class="container px-md-5">
								<div class="row mb-5" >
								  <div class="col-md">
									 <h3 class="signature h5" style="color: white">Certification</h3>
									  <p style="color:#A2A4AA "><span style="color:#fc0fc0 ">Flutter:</span> <br>The Complete 2020 Flutter Development Bootcamp with Dart </p>
									  <p style="color:#A2A4AA "><span style="color:#fc0fc0 ">Python:</span>  <br>Machine Learning, Data Science and Deep Learning with Python  </p>

								  </div>
									<div class="col-md">
										<h3 class="signature h5" style="color: white">Awards</h3>
										<p style="color:#A2A4AA "><span style="color:#fc0fc0 ">Deputy Principal’s Award</span> (Academic Excellence), <br>Heriot Watt University</p>
										<p style="color:#A2A4AA "><span style="color:#fc0fc0 ">Best Sixth Former of the Year,</span> <br>The Westminster School, Dubai</p>
								  </div>
									<div class="col-md">
										<h3 class="signature h5" style="color: white">Additional Information</h3>
										<p style="color:#A2A4AA "> <span style="color:#fc0fc0 ">Proficient in English & Urdu.</span></p>
										<p style="color:#A2A4AA "> <span style="color:#fc0fc0 ">Interests: -</span> <br>squash, <br>table tennis,<br>billiards, <br>hockey</p>
								  </div>


								</div>
								</div>

	            </div>
				</div>
			</section>
	    <footer class="ftco-footer ftco-bg-dark ftco-section" id="bottom" style="background-color:#A2A4AA;">
	      <div class="container px-md-5">
	        <div class="row mb-5" >
	          <div class="col-md">
	             <div class="ftco-footer-widget mb-4">
	              <h2 class="ftco-heading-2">On Going Projects</h2>
	              <ul class="list-unstyled categories">
	              	<li><a href="#">November 2018 <span>(105)</span></a></li>
	              </ul>
	            </div>
	          </div>
	          <div class="col-md">
	            <div class="ftco-footer-widget mb-4">
	            	<h2 class="ftco-heading-2">Have a Question?</h2>
	            	<div class="block-23 mb-3">
		              <ul>
					<li><a href="#"><span class="icon icon-phone"></span><span class="text">+971 52 705 9570</span></a></li>
		                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">moied90@hotmail.com</span></a></li>
		              </ul>
		            </div>
	            </div>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-md-12">
    </div>
	        </div>
	      </div>
	    </footer>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->




























{% static 'polls/' %}

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <script src="{% static 'polls/js/jquery.min.js' %}"></script>
  <script src="{% static 'polls/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'polls/js/popper.min.js' %}"></script>
  <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'polls/js/jquery.easing.1.3.j' %}s"></script>
  <script src="{% static 'polls/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'polls/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'polls/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'polls/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'polls/js/aos.js' %}"></script>
  <script src="{% static 'polls/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'polls/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'polls/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'polls/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'polls/js/google-map.js' %}"></script>
  <script src="{% static 'polls/js/main.js' %}"></script>
    
  </body>   
</html>