<!DOCTYPE html>
<html lang="en">
<head>
  <title>Muhammad Moied</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style type="text/css">
  	html *
{
   font-family: Courier New !important;
   font-size: 18px
}
img.icon{
border-radius: 20px;
max-width: 40px
}
  </style>
</head>
<body style="background-color:#222831;"> 
  <h1 class="text-center" style="color: white;font-size: 40px";>Muhammad Moied</h1>
   <div class="container text-center" style="margin-top: 2%;background-color: #393e46;border-radius: 20px">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link disabled" style="color: white" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:#00adb5"href="{% url 'finalportfolio:work' %}">Work Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"style="color: #00adb5" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " style="color: #00adb5" href="{% static 'polls/Muhammad Moied.pdf' %}" target="_blank">Open CV</a>
    </li>
  </ul>
</div>
  <div class="container text-left mw-75" style="margin-top: 2%;background-color: #393e46;border-radius: 20px;color: white;padding: 20px">
   <div class="row">
    <div class="col-sm-9" style="padding-bottom: 15px">
    	<h1 class="signature h1" style=" color: white">About Me</h1>
An ambitious software engineer with 3 years of experience in object-oriented and functional programming, database
management and app development.<br> I am a final year BSc-Computer Science(Hons) student in
Heriot Watt University, Dubai. <br>Seeking an opportunity that allows me to utilize my problem-solving, analytical
skills and my programming knowledge.
	<h3 class="signature h3" style="color: white">Connect</h3>
	
	<a href="https://github.com/moied12" target="_blank">
		<img src=" {% static 'finalportfolio/images/github.ico'  %}"   class="icon" alt="Muhammad Moied" >
	</a>
	<a href="https://ae.linkedin.com/in/muhammad-moied-poonawala?trk=public_profile_browsemap_profile-result-card_result-card_full-click" target="_blank">
		<img src=" {% static 'finalportfolio/images/linkedin.ico'  %}" class="icon"  alt="Muhammad Moied" >
	</a>
	<a href="https://www.instagram.com/moieds/?hl=en" target="_blank">
		<img src=" {% static 'finalportfolio/images/instagram.ico'  %}"  class="icon" alt="Muhammad Moied" >
	</a>
	<a href="https://www.facebook.com/moied.sattar.3" target="_blank">
		<img src=" {% static 'finalportfolio/images/facebook.ico'  %}"  class="icon" alt="Muhammad Moied" >
	</a>
	<a href="https://twitter.com/MoiedSattar?s=08" target="_blank">
<img src=" {% static 'finalportfolio/images/twitter.ico'  %}" class="icon"  alt="Muhammad Moied" >
	</a>


    </div>
    <div class="col-sm-3" >
    	<img src=" {% static 'finalportfolio/images/author-2.jpg'  %}"  class="mx-auto d-block img-fluid" alt="Muhammad Moied" style="max-width: 70%;border-radius: 10%;">
    </div>
  </div>
</div>


  <div class="container text-left mw-75" style="margin-top: 2%;background-color: #393e46;border-radius: 20px;color: white;padding: 20px">
  	    	<h1 class="signature h1" style=" color: white">Education</h1>
   <div class="row">
    <div class="col-sm-9">
    	<p>
		<p style="color: #00adb5;">BSc Hons - Computer Science</p>
		Heriot Watt University, Dubai
		<br>3rd year completed with Cumulative GPA 4.0</p>
    </div>
    <div class="col-sm-3" >
    	<span style="color:#00adb5;">(2018-2021)</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
    		<p>
    	<p style="color: #00adb5;">A levels</p>
		The Westminster School, Dubai
		<br>Mathematics-A Computer Science-A Physics-B </p>
    		</p>
    </div>
    <div class="col-sm-3" >
    	<span style="color:#00adb5;">(2018-2021)</span>
    </div>
  </div>
</div>


  <div class="container text-left mw-75" style="margin-top: 2%;background-color: #393e46;border-radius: 20px;color: white;padding: 20px">
		<div class="row mb-5" style="margin-bottom: 0px">
		  <div class="col-md">
			 <h3 class="signature h5" style="color: white">Certification</h3>
			  <p style="color:#A2A4AA "><span style="color:#00adb5 ">Flutter:</span> <br>The Complete 2020 Flutter Development Bootcamp with Dart </p>
			  <p style="color:#A2A4AA "><span style="color:#00adb5 ">Python:</span>  <br>Machine Learning, Data Science and Deep Learning with Python  </p>

		  </div>
			<div class="col-md">
				<h3 class="signature h5" style="color: white">Awards</h3>
				<p style="color:#A2A4AA "><span style="color:#00adb5 ">Deputy Principal’s Award</span> (Academic Excellence), <br>Heriot Watt University</p>
				<p style="color:#A2A4AA "><span style="color:#00adb5 ">Best Sixth Former of the Year,</span> <br>The Westminster School, Dubai</p>
		  </div>
			<div class="col-md">
				<h3 class="signature h5" style="color: white">Additional Information</h3>
				<p style="color:#A2A4AA "> <span style="color:#00adb5 ">Proficient in English & Urdu.</span></p>
				<p style="color:#A2A4AA "> <span style="color:#00adb5 ">Interests: -</span> <br>squash, <br>table tennis,<br>billiards, <br>hockey</p>
		  </div>
		</div>
</div>
</body>
</html>



