<!DOCTYPE html>
<html lang="en">
<head>
  <title>Muhammad Moied</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style type="text/css">
  	html *
{
   font-family: Courier New !important;
   font-size: 18px
}
img.icon{
border-radius: 20px;
max-width: 40px
}
  </style>
</head>
<body style="background-color:#222831;"> 
	 <div class="container text-center" style="margin-top: 2%;background-color: #393e46;border-radius: 20px">
	<nav class="navbar navbar-expand-md navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="{% url 'finalportfolio:index' %}" style="font-size: 30px">Muhammad Moied</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" name="menu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" style="color:#00dfeb"href="{% url 'finalportfolio:work' %}">Work Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"style="color: #00dfeb" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " style="color: #00dfeb" href="{% static 'polls/Muhammad Moied.pdf' %}" target="_blank">Open CV</a>
    </li>
    </ul>
  </div> 
</nav>
</div>
   {% if projects %}
   {% for project in projects %}
        <div class="container text-left mw-75" style="margin-top: 2%;background-color: #393e46;border-radius: 20px;color: white;padding: 20px">
   <div class="row">
    <div class="col-sm-9" style="padding-bottom: 15px">
    	<h1 class="signature h1" style=" color: #eeeeee">{{ project.name }}</h1>
        <h4 class="signature h4"style="color:#00dfeb;"> ({{ project.skills }})</h4>
        {{ project.description}}
    </div>
    <div class="col-sm-3" >
        <span style="color:#00dfeb;font-size: 16px ">({{ project.start }}-{{ project.end }})</span>
<img src=" {% static ' project.image.url | safe '  %}"   class="icon" alt="Muhammad Moied" >


    </div>
  </div>
</div>
     {% endfor %}
       {% else %}
       No Projects
     {% endif %}


</body>
</html>



