<!DOCTYPE html>
<html lang="en">
<head>
  <title>Muhammad Moied</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style type="text/css">
  	html *
{
   font-family: Courier New !important;
   font-size: 18px
}
img.icon{
border-radius: 20px;
max-width: 40px
}
  </style>
</head>
<body style="background-color: rgba(45,49,62,0.9);">
  <h1 class="text-center" style="color: white;font-size: 40px";>Muhammad Moied</h1>
   <div class="container text-center" style="margin-top: 2%;background-color: #2d313e;border-radius: 20px">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" style="color:#fc0fc0"href="{% url 'finalportfolio:index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled"  href="#">Work Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"style="color: #fc0fc0" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " style="color: #fc0fc0" href="{% static 'polls/Muhammad Moied.pdf' %}" target="_blank">Open CV</a>
    </li>
  </ul>
</div>
  <div class="container text-left mw-75" style="margin-top: 2%;background-color: #2d313e;border-radius: 20px;color: white;padding: 20px">
  	    	<h1 class="signature h1" style=" color: white ;">Grandeur Luxury</h1>
   <div class="row">
    <div class="col-sm-8">
    	<p>
		<p style="color: #fc0fc0;font-size: 20px">Flutter Developer</p>
    <ul>
      <li>Worked on a limousine service app bundle using Flutter, Dart and Typescript</li>
       <li>Consisted of Customer, Driver and Admin android, ios and web app</li>
        <li>Added functionality to customer and driver app UI kit</li>
         <li>Worked with google cloud functions and Firebase for responsiveness</li>
          <li>Used google maps API for added functionality</li>
            </ul>
            Links To App
            <br>
            <a class="nav-link"style="color: #fc0fc0" href="https://play.google.com/store/apps/details?id=com.grandeur.taxiDriver" target="_blank">Android Driver App</a>
            <a class="nav-link"style="color: #fc0fc0" href="https://play.google.com/store/apps/details?id=com.grandeur.taxiCustomer" target="_blank">Android Customer App</a>
              <a class="nav-link"style="color: #fc0fc0" target="_blank"href="https://apps.apple.com/ae/app/grandeur-limousine/id1522503218">iOS Customer App</a>
          </p>
    </div>
    <div class="col-sm-4" >
    	<span style="color:#fc0fc0;">June. 1, 2020 - July. 31, 2020</span>
    </div>
  </div>
</div>
  <div class="container text-left mw-75" style="margin-top: 2%;background-color: #2d313e;border-radius: 20px;color: white;padding: 20px">
          <h1 class="signature h1" style=" color: white ;">Al Moiz Textiles</h1>
   <div class="row">
    <div class="col-sm-8">
      <p>
    <p style="color: #fc0fc0;font-size: 20px">Django Web Developer</p>
    <ul>
      <li>Account and Financial Analysis System</li>
       <li>Designed database and UI</li>
        <li>Data population from older CSV files to database</li>
         <li>Developed Django web app to compute data</li>
            </ul>
          </p>
    </div>
    <div class="col-sm-4" >
      <span style="color:#fc0fc0;">Jan. 1, 2019 - June 30, 2019</span>
    </div>
  </div>
</div>
</body>
</html>



